

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #000000;
    margin: 0;  
    font-family: 'Helvetica Neue', sans-serif;




}

header {
    display: flex;
    margin: 6rem auto;
    justify-content: center;
    
}


header h3 {
    max-width: 400px;
    text-align: right;


    
    margin: 0;
}


section {
    padding: 0;
    display: inline-block;

}

footer {

    text-align: center;
    color:#9e9d9d;
}

p {
    font-size: 14px;
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: #000;
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  a:hover::before {
    transform: scaleX(0.8);
  }


  #about {
    padding: 7rem 5rem 2rem 5rem;
    border-top: 1px solid #dddfe1;
  }

.about-container {
    display: inline-block;
    justify-content: center;
    
}

.about-content {
    width: 50%;
    display: inline-block;

    
}

#graphic-container {
    
    height: 100%;
    width: 40%;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: auto;
    margin:  0;

}


.header-container {

    margin: 0 5em 0 0;
    
    


}

.header-img-container {
    justify-content: center;
    padding: 0;


}


#projects {

    margin: 7rem 0;
    padding: 4rem 5rem;
    background-color: #000;
    color: white;
  

 
}



.grid-container {
    animation: fadeup 2s infinite;
    display: grid;
    background-color: #000000;
    grid-template-columns: 1fr 1fr; 
    padding: 4rem;
    grid-column-gap: 10rem;
    grid-row-gap: 6rem;
    margin: 2rem;
}


.grid-item {
    
    border: none;
    padding: 0;
    font-size: 30px;
    color: #ffffff;
    text-align: left;
    background: #000000;
    transition: 0.5s;
}

.grid-item:hover {
    transform: scale(1.00);
    transition: 0.2s;


}


.grid-footer {
    padding: 0.5rem;
}


.grid-item h3 {
    padding: 0; 
    margin: 0;
    color: #ffffff;
}


.grid-item p {
    padding: 0.5rem;
    margin: 0;
    color: #787c80;
}


.grid-image {
    background-color: white;
    transition: 0.2s;
     
}

.grid-image:hover {

    filter: opacity(90%);
    transition: 0.2s;
   
}


.heading {
    color:#000000;
    font-weight: 700;
    font-size: 80px;
    max-width: 400px;
    letter-spacing: 0px;
    line-height: 80px;
    text-align: right;


  }


.subheading {  
    color: #000000;
    font-size: 40px;
    font-weight: 300;
}



h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 2rem 0;
    color: #000000;
}



.bold {
    font-weight:700;
}

.red {
    color:#C25757;
}

.white {
    color: #ffffff;
}

#contact-link {
    color: #000000;
    font-weight: 600;
    transition: 0.2s
}



.wide-container {
    width: 60%;
    padding:0 1rem;
    float:left;
    align-items:flex-start;
}

.narrow-container {
    width: 40%;
    padding:0 1rem 0 0;
    float: left;
    justify-content: space-between;
    align-items: center;  
}

#projects-box {
    background-color: #ffffff;
    margin: 0 0 4rem 0;
    padding: 1rem 4rem;
    width: 100%;
}

.project {
    background-color: #3F4041;
    padding: 0;
    height: 25rem;

}

#projects-heading {
    color: #f3f2f1;
}


.project:hover {
    background-color: white;
    transition: 0.2s;
}

.projects-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;

}

.project-pic {
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding: 2rem;
  
}


.project-frontpic {
    width: 100%;
    height: 83%;
    object-fit: cover;
    
}

.project-frontpic:hover {
    filter: opacity(50%);
    transition: 0.2s;
}


img {
    max-width: 100%;
    object-fit: cover;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: modal-background 1s;
    animation-timing-function: ease;
}

@keyframes modal-background {
    0% {background-color: rgba(0, 0, 0, 0.0); top:1000px; }
    30% {top: 0px; background-color: rgba(0, 0, 0, 0.0);}
    100% {background-color: rgba(0, 0, 0, 0.4);}

}


.modal-content {
    width: 70%;
    overflow: scroll;
    background-color: #ffffff;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    animation: modal-in 0.5s;

}



.modal-footer {
    padding: 0 0.5rem 0 2rem;
    width: 100%;
    height: 80%;


}

.modal-subheading {
    font-size: 16px;
    color: #787c80;
    padding: 0;
    margin: 0;

}

.modal-heading {
    font-size: 30px;
    font-weight: 600;
    padding: 0.3rem;
    margin: 0;
    color: #000000;
}

.modal p {
    font-size: 13px;
    color: #000;
}

.modal-image {
    max-height: 800px;
    overflow: hidden;

}

.modal .GatsbyImage {
    object-fit: contain;
}

.modal-buttons {
    display: flex;
    justify-content: right;
    margin: 1rem 0;
    max-height: 20%;
    
    
    
}

button {
    color: white;
    font-size: 17px;
    background-color: #000;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    
    transition: 0.3s;


}

button:hover {

    color: black;
    background-color: #ffffff;
    transition: 0.3s;
  

}


button:hover::before {
    transform: scaleX(1);
}


.icon {
    width: 50px;
    padding: 1rem;
}




.contact-container {
 
    padding: 5rem 15%;
    display: grid;
    justify-content: space-around;
    text-align: center;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #000000;
    row-gap: 0.5rem;
    column-gap: 3rem;
   
    
}

.contact-item {
    max-width: 130px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    

}

.contact-item p {
    margin: 0;
}

.contact-text {
    height: 40px;
    margin: 0;
    padding: 0;
}


#contact {
    display: block;
    align-items: flex-end;
    padding: 5rem;
    border: 1px solid #dddfe1;

    
}

.cv-item {
    text-align: center;
}

.mobile-nav {
    visibility: hidden;
}


@media only screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; 
        padding: 0;
        margin: 0;
    }

    .contact-container {
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
    }

    .contact-item {
        height: 140px;
    }

    #about-img {
        width: 100%;
    }

    #graphic-container {
        width: 100%;
    } 

}




@media only screen and (max-width: 700px) {



    header {
        display: flex;
        flex-direction: column;
    }
    
    .header-img-container {
        padding: 3rem;
        display: flex;
        justify-content: center;
    }

    

    .about-content { 
        width: 100%;

    }

    #about {
        padding: 0;
        border: none;
    }
    .about-container {
        padding: 1rem 1rem 5rem 1rem;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    #projects {
        margin: 0;
        padding: 1rem;
  
    }

    section {
        margin: 0;
        padding: 0;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        font-size: 9px;
        overflow-y: scroll;
        max-height: 700px;
    }

    .modal {
 
        overflow: scroll;
    }

    #contact {
        padding: 2rem;
        border: none;
    }
    

    .contact-container {
        grid-template-columns: 1fr;
   
    }

}



