html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #000000;
}

header {
    display: inline-block;
    
    justify-content: space-around;
}
section {
    padding: 0;
    display: inline-block;
}

