@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');


.container {
    padding: 0rem;
    font-family: 'Helvetica Neue', sans-serif;
    
  }
  

  .nav-links {
    display:flex;
    list-style: none;
    padding: 0 1rem 1rem 0;
    justify-content: end;
    border-bottom: 1px solid #ddd;


  }
  .nav-link-item {
    padding: 0 2rem 0 5rem;
   
  }

  

  .nav-link-text {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    font-weight: 300;
    transition: 0.5s;
  }


  .nav-link-text:hover {
    color:#000000;
    transition: 0.2s;
    text-transform: underline;
    transform: scale(1.04);
  }


  .toggle-button {
    position: absolute;
    top:2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
    
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #202020;
    border-radius: 10px;
}




 
  @media only screen and (max-width: 700px){
    .container {
      margin: 1rem;
      padding: 0;

    }

    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;    
        transition: 0.5s;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links.active {
        display:flex;
        
    }


  
}
